config alpine-fan-control
	option enable     '1'
	option debug      '0'
	option min_temp   '40'
	option min_speed  '60'
	option med_temp   '45'
	option med_speed  '80'
	option max_temp   '50'
	option max_speed  '100'
	option interval   '5'
	option temp_hyst  '0'
	option tmp_sens   'tmp75'
	option fan_cont   'emc230'
	option drv_speed_min '0'
	option drv_speed_max '255'
